<header>
  <div class="center">
    <nav class="left">
      <%= link_to "Deviseサンプル", root_path, class: 'left' %>
      <div class="right">
        <ul class="flex">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to 'アカウント編集', edit_user_registration_path %>
            </li>
            <li class="nav-item active">
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete%>
            </li>
            <li class="nav-item active">
              <%= link_to '通知', notifications_path %>
            </li>
            <% else %>
            <li class="nav-item active">
              <%= link_to "新規登録", new_user_registration_path %>
            </li>
            <li class="nav-item active">
              <%= link_to "ログイン", new_user_session_path %>
            </li>
            <li class="nav-item active">
              <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

  </div>
</header>